/* simple ones are here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul {
    background-color: #333;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
}

.container {
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

h1 {
    color: #333;
}

h3 {
    color: slateblue
}

.proj {
    color: grey
}

/* faded animation below here */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Dark Mode */
[data-theme="dark"] {
    background-color: #121212;
    color: #e0e0e0;
}

[data-theme="dark"] nav ul {
    background-color: #212121;
}

[data-theme="dark"] nav ul li a:hover {
    background-color: #333;
}

/* Responsive Styles PS: width could be changed */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

/* Dark mode toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin: 14px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
