/* simple ones are here */
body {
    font-family: Arial, sans-serif;
    background-color: #FAEBD1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FAEBD1;
}

.pic {
    flex: 1;
}

.pic img {
    height: 60px;
    display: block;
}
 
ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 20px 12px;
    border-radius: 12px;
    gap: 20px;
}

ul li {
    margin: 0px 12px;
    font-family: cursive;
}

ul a {
    position: relative;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0px;
    text-decoration: none;
}

ul li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: black;
    border-radius: 12px;
    transition: all 0.4s ease;
}
  
ul li a:hover:before {
    width: 100%;
}
  
ul li a:before {
    left: 50%;
    transform: translateX(-50%);
}

p {
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

h1 {
    text-align: center;
    color: Black;
    font-family: cursive;
}

h3 {
    text-align: center;
    color: black;
    font-family: cursive;
}

.captain {
    font-size: 15px;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    width: 100px;
    height: 100px;
    font-family: cursive;
    color: black;
    justify-content: space-around;
    display: flex;
}

.sergeant1 {
    padding-right: 25px;
}

.sergeant2 {
    padding-left: 25px;
    padding-right: 25px;
}

.icon {
    height: 100px;
    width: 100px;
}

.container {
    padding: 20px;
    opacity: 0;
}

/* faded animation below here */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsive Styles PS: width could be changed */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

