{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<h1 id = 'typing'>About Me</h1>
<div class = 'captain'>
    <div class = 'sergeant'>
        <a href = 'https://github.com/Hitman7084'>
            <img class = 'icon' src = '../static/images/git.png'>
        </a>
        <p class = 'icon-text'> GitHub </p>
    </div>
    <div class = 'sergeant'>
        <a href = 'mailto:hitman7084@gmail.com'>
            <img class = 'icon' src = '../static/images/mail.png'>
        </a>
        <p class = 'icon-text'> Mail </p>
    </div>
</div>
{% endblock %}
