{% extends 'base.html' %}

{% block title %} Home - Portfolio {% endblock %}

{% block content %}
<h1>Welcome to My Portfolio</h1>
<p>
    Hello there! My name is Himanshu Mall and this is the first page for my portfolio website.
    From here you can see my projects as well as about me 😊.
</p>
<p>
    I inadvertently went to See's Candy last week (I was in the mall looking for phone repair), 
    and as it turns out, See's Candy now charges a dollar -- a full dollar -- for even the 
    simplest of their wee confection offerings. I bought two chocolate lollipops and two 
    chocolate-caramel-almond things. The total cost was four-something. I mean, the candies were
    tasty and all, but let's be real: A Snickers bar is fifty cents. After this dollar-per-candy 
    revelation, I may not find myself wandering dreamily back into a See's Candy any time soon.
    The leather jacked showed the scars of being his favorite for years. It wore those scars with 
    pride, feeling that they enhanced his presence rather than diminishing it. The scars gave it 
    character and had not overwhelmed to the point that it had become ratty. The jacket was in 
    its prime and it knew it. Betty was a creature of habit and she thought she liked it that way. 
    That was until Dave showed up in her life. She now had a choice to make and it would determine 
    whether her lie remained the same or if it would change forever. One foot in front of the 
    other, One more step, and then one more. Jack's only thoughts were to keep moving no matter 
    how much his body screamed to stop and rest. He's lost almost all his energy and his entire 
    body ached beyond belief, but he forced himself to take another step. Then another. And then 
    one more.
</p>
{% endblock %}
