{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}
<h1 class = 'reveal'> View my projects </h1>
<p>
    <div class = 'captain'>
        <div class = 'sergeant1'>
            <a href = '../static/docs/Dice_Arcade.pdf'>
                <img class = 'icon' src = '../static/images/folder.png'>
            </a>
            Dice Arcade
        </div>
        <div class = 'sergeant2'>
            <a href = 'https://github.com/Hitman7084/Realtime_people_counting'>
                <img class = 'icon' src = '../static/images/folder.png'>
            </a>
            Realtime People Counting 
        </div>
    </div>
</p>
{% endblock %}
