{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}
<h1 id = 'typing'> View my projects </h1>
<p>
    <div class = 'captain'>
        <div class = 'sergeant'>
            <a href = '../static/docs/Dice_Arcade.pdf'>
                <img class = 'icon' src = '../static/images/folder.png'>
            </a>
            <p class = 'icon-text'> Dice Arcade </p>
        </div>
        <div class = 'sergeant'>
            <a href = 'https://github.com/Hitman7084/Realtime_people_counting'>
                <img class = 'icon' src = '../static/images/folder.png'>
            </a>
            <p class = 'icon-text'> Realtime People Counting </p>
        </div>
    </div>
</p>
{% endblock %}
