{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}
<h1>My Projects</h1>
<p>
    See my projects on my Github profile below
    <h3> This is my Github profile 
        <a href = 'https://github.com/Hitman7084'><br>
            <img class = 'icon' src = '../static/images/git.png'>
        </a>
    </h3>
    <div class = 'proj'> Dice Arcade <br>
        <a href = 'https://github.com/Hitman7084/Mini-Project'>
            <img class = 'icon' src = '../static/images/folder.png'>
        </a>
    </div>
    <div class = 'proj'> Realtime People Counting <br>
        <a href = 'https://github.com/Hitman7084/Realtime_people_counting'>
            <img class = 'icon' src = '../static/images/folder.png'>
        </a>
</p>
{% endblock %}
